body {
	width: 960px;
	font-family: Arial; 
	color: #777777;
}

#Name {
background: #4aaaa5;
font-family: Georgia;
color: white;
width: 195px;
height: 70px;
line-height: 70px;
text-align: center;
margin-left: 125px;
}
ul {
float: left;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
width: 200px;
/* border-style: solid;
border-color: red;
border size: 1px; */
}

li {
	float: right;
}


header {

	clear: both;
	height: 72px;
}

#aboutheader {
	font-family: Georgia;
	color: #4aaaa5;
}
#connectheader {
	font-family: Georgia;
	color: #4aaaa5;
}

footer {
	font-size: 10px;
	text-align: center;
}

