body {
	width: 960px;
	font-family: Arial; 
	color: #777777;
}
header {

	overflow: auto; 
    /*float: left; */
	/*clear: both;*/
	/*height: 72px;*/
	width: 960px;

    border-style: solid;
    border-color: red;
    border size: 1px; 
}

#Name {
    background: #4aaaa5;
    font-family: Georgia;
    color: white;
    width: 195px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-left: 125px;
    margin-bottom: 0px;
}

nav {
	/* float: left; */ 
	/* border-style: solid;
	border-color: red;
	border size: 1px; */ 
	/* overflow: auto; */
}

ul {
    /* overflow: auto; */
    /* position: relative;
    right: -600px;
    bottom: 50px; */
    float: left; 
    list-style-type: none;
    margin-left: 400px;
    padding: 0;
    /* overflow: hidden;*/
    width: 300px;
    /* border-style: solid;
    border-color: red;
    border size: 1px; */
}

li {
	float: left; 
}

li a {
    display: block;
    text-align: center;
    padding: 10px;

}
.wrapper {

	background-image: url('../images/cork-wallet.png');
}

#aboutheader {
	font-family: Georgia;
	color: #4aaaa5;
}
#connectheader {
	font-family: Georgia;
	color: #4aaaa5;
}

footer {
	font-size: 10px;
	text-align: center;
}

