body {
	width: 960px;
	font-family: Arial; 
}

#Name {
background: #4aaaa5;
font-family: Georgia;
color: white;
width: 195px;
height: 70px;
line-height: 70px;
text-align: center;
margin-left: 125px;
}
nav {
	float: right;
	color: red;

}


